# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
.idea/

# dist files
dist/*.log
dist/*.aux
dist/*.out
dist/*.gz
dist/*.toc
dist/*.maf
dist/*.mtc
dist/*.mtc0
dist/_minted*

# venv
venv/

# resources
_res/*
